body {
    margin: 0;
}

.main {
    background-color: orange;
    height: 1200px;
}

.nav {
    background-color: blue;
    height: 50px;
    width: 100vw;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

.contact {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: greenyellow;
    position: fixed;
    top: 80vh;
    left: 90vw;
    z-index: 2;
}

.aktif {
    position: sta;
}

.content {
    margin: 50px 0 0;
}

.sticky {
    background-color: yellow;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: sticky;
    top: 50px;
    z-index: 1;
}

.tickets {
    background-color:  black;
    color:  white;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    border: 1px dashed greenyellow;
    position: relative;
    margin: 10px 0;
}

.sold {
    background-color: red;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: -35px;
    transform: rotate(30deg);
}

@media screen and (max-width: 480px) {
    .nav {
        background-color: green;
    }
    
}